@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    position: absolute;
    margin-top: 1.3em;
    margin-left: 8%;
}

.burguer {
    margin-top: 20%;
}

/*burger menu*/

/* #menu-toggle {
    display: block;
    position: relative;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menu-toggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0; 
    z-index: 2;  
    -webkit-touch-callout: none;
}

#menu-toggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
}

#menu-toggle span:first-child {
    transform-origin: 0% 0%;
}

#menu-toggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menu-toggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #4EC2DD;
}

#menu-toggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menu-toggle input:checked ~ span:nth-last-child(2) {
transform: rotate(-45deg) translate(0, -1px);
}

#menu-list {
    position: absolute;
    width: 188px;
    margin: -100px 0 0 -135px;
    padding: 50px;
    padding-top: 125px;
    border-radius: 35px;
    height: 100px;
    background: #ffffffec;
    box-shadow: 0px 0px 13px -4px #2b2a2a2c;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    display: block;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu-toggle input:checked ~ #menu-list {
    transform: none;
} */

/*burger menu fim*/

/********* MENU **********/

/* #menu-toggle input {
    display: none;
  }
  
  #menu-list {
      text-align: center;
      width: 30%;
      height: 100%;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  .item-menu {
      margin: 10%;
  }
  
  .item-menu a {
      color: #C8C8C8;
      margin: 5%;
      font-size: 18px;
      font-weight: normal;
      font-family: 'Raleway';
      text-decoration: none;
      transition: 0.3s;
  }
  
  .item-menu a:hover {
      color: #4EC2DD;
  } */

  /********* FIM MENU **********/
  
.logo {
    align-items: center;
    margin-right: 4.5em;
}

.img-logo {
    width: 100%;
}

.search {
    margin-top: 10%;
}

.sacola {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
}

.bag {
    filter: invert(100%);
    margin-right: 5px;
}

.icon {
    margin-right: 20px;
    filter: invert(100%);
}

#badge {
    border-radius: 1em;
    font-size: 0.8em;
    font-weight: 900;
    background: #4EC2DD;
    color: #fff;
    padding: 2px 6px;
}

/***************************************/

.overlay {
    position: absolute;
    margin-top: 14em;
    background-color: rgba(0, 0, 0, 0.5)
}

.overlay h1 {
    color: white;
    font-size: 28px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.overlay .price {
    color: #4EC2DD;
    font-size: 42px;
    font-weight: bold;
    margin: 0;
    margin-top: 2%;
}

.overlay .text {
    color: white;
    font-size: 12px;
    margin-top: 1%;
    margin-bottom: 1.5em;
    margin-left: 15%;
    line-height: 1.55em; 
}

.info {
    margin: 7% 6% 0 11%;
    text-align: right;
}

/*****************************/

.main-slide {
    width: 100%;
    height: 70px;
    display: flex;
    color: white;
    bottom: 3.2rem;
    position: absolute;
}

.produto-slide {
    width: 50%;
    text-align: center;
    background-color: #4EC2DD;
}

.produto-slide p {
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 25px;
}

.slide {
    width: 50%;
    text-align: left;
    background-color: #0F4156;
}

.slide p {
    font-size: 18px;
    margin-left: 25px;
    margin-top: 24px;
}

/*Carousel*/

.container {
    max-width: 100%;
    top: -1.8rem;
}

.item {
    margin-bottom: 120px;
    margin-right: 0 !important;
}

.owl-nav .banner-angle-right {
    position: absolute;
    bottom: 7.2rem;
    right: 2rem;
}

.owl-nav .banner-angle-left {
    position: absolute;
    bottom: 7.2rem;
    right: 5.5rem;

}

.banner-angle-size {
    width: 12px;
    height: 20px;
}

/* CAROUSEL DE BAIXO*/

.owl-container {
    max-width: 70%;
    margin: 0 auto;
}

.item {
    height: 28rem;
    display: flex;
    height: fit-content;
    margin-top: 30px;
    margin-bottom: 120px;
    margin-right: 1%;
}

.owl-nav .angle-right {
    position: absolute;
    top: 9rem;
    right: -3rem;
}

.owl-nav .angle-left {
    position: absolute;
    top: 9rem;
    left: -3rem;
}

.angle-size {
    width: 20px;
    height: 36px;
}

.produto {
    color: #084154;
    font-size: 17px;
    margin-bottom: 8px;
}

.preco {
    color: #084154;
    font-size: 27px;
    font-weight: bolder;
    margin-top: 0px;
}

.btn-carousel {
    color: white;
    background-color: #3EC6E0;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    padding: 12px 95px;
    border-radius: 5px;
}

/*fim carousel*/




 