@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: space-around;
    padding-top: 1.2em;
    /* background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 13%, rgba(0,0,0,0.6561975131849616) 59%, rgba(255,255,255,0) 100%); */
    width: 100%;
    position: absolute;
    z-index: 4; 
}

/* .burguer {
    margin-top: 20%;
} */

/*burger menu*/

.menu {
    display: flex;
    padding: 2em;
    font-family:'Roboto';
    border: #3EC6E0 2px solid;
    position: absolute;
    background-color: #084154;
    visibility: hidden;
    transition: all .4s;
    box-shadow: 10px 10px #3EC6E0;
}

.seta-cima {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
  width: 0; 
  height: 0; 
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid #3EC6E0;
  margin-top: 15px;
  visibility: hidden;
  transition: all .4s;
  }

.menu ul{
  list-style: none;
  padding: 0;
  list-style-type: none;
  font-weight: bold;
  display: flex;
}

.menu ul ul {
  display: flex;
  flex-direction: column;
}

.menu ul li {
  width: 230px;
  padding:0;
  list-style: none;
  flex-direction: row;
}

.menu a {
  padding: 15px;
  display: block;
  text-decoration: none;
  text-align: center;
  background-color: #084154;
  color: #fff;
  font-size: 18px;

}

 .menu a:hover{
    background-color: #3EC6E0;
    color:#084154;
    font-weight: bold;

  }

.menu ul ul {
  font-weight: 100;
}


label[for="bt_menu"]{
  padding: 5px;
  background-color: #084154;
  color:#fff;
  font-family: 'Roboto';
  text-align:center;
  font-size: 30px;
  cursor: pointer;
  width: 50px;
  height: 50px; 
}

#bt_menu {
  display:none;
}

#bt_menu:checked ~ .menu{
  visibility: visible;
}

#bt_menu:checked ~ .seta-cima{
  visibility: visible;
}

label[for="bt_menu"]{
  display: block;
}


.menu-line{     
  visibility: hidden;                  
}

.wrapper-naveg {
    display: flex;
    margin-right: 30px;
}

.wrapper-menu {
    display: block;
}

#wrap-menu {
    display: flex;
    margin-left: 2%;
}

.bold {
    font-weight: bold;
    font-size: 3em;
}



/*burger menu fim*/


#menu-toggle input {
  display: none;
}

/* #menu-list {
    text-align: center;
    width: 30%;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-menu {
    margin: 10%;
}

.item-menu a {
    color: #C8C8C8;
    margin: 5%;
    font-size: 18px;
    font-weight: normal;
    font-family: 'Raleway';
    text-decoration: none;
    transition: 0.3s;
}

.item-menu a:hover {
    color: #4EC2DD;
} */

.logo {
    align-items: center;
    margin-right: 2.5em;
    margin-left: 2em;
}

.img-logo {
    width: 100%;
}

.search {
    margin-top: 10%;
}

.sacola {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
}

.bag {
    filter: invert(100%);
    margin-right: 5px;
    position: relative;
}

.icon {
    margin-right: 20px;
    filter: invert(100%);
}

#badge {
    border-radius: 1em;
    font-size: 0.8em;
    font-weight: 900;
    background: #4EC2DD;
    color: #fff;
    padding: 2px 6px;
    position: absolute;
    right: 1.5em;
    top: 2em;
}

.overlay {
    position: absolute;
    bottom: 120px;
    background-color: rgba(0, 0, 0, 0.5)
}

.overlay h1 {
    color: white;
    font-size: 28px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.overlay .price {
    color: #4EC2DD;
    font-size: 42px;
    font-weight: bold;
    margin: 0;
    margin-top: 2%;
}

.overlay .text {
    color: white;
    font-size: 12px;
    margin-top: 1%;
    margin-bottom: 1.9em;
    margin-left: 15%;
    line-height: 1.5em; 
}

.info {
    margin-top: 7%;
    margin-left: 11%;
    margin-right: 6%;
    text-align: right;
}

.banner-desk {
    display: none;
}

.banner-desk2 {
    display: none;
}

/*****************************/

.main-slide {
    width: 100%;
    height: 70px;
    display: flex;
    color: white;
    bottom: 3.1rem;
    position: absolute;
}

.produto-slide {
    width: 50%;
    text-align: center;
    background-color: #4EC2DD;
}

.produto-slide p {
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 25px;
}

.slide {
    width: 50%;
    text-align: left;
    background-color: #0F4156;
}

.slide p {
    font-size: 18px;
    margin-left: 25px;
    margin-top: 24px;
}

/*Carousel*/

.container {
    max-width: 100%;
    height: 530px;
}

.item {
    margin-bottom: 120px;
    margin-right: 0 !important;
}

.owl-nav .banner-angle-right {
    position: absolute;
    bottom: 7.2rem;
    right: 2rem;
}

.owl-nav .banner-angle-left {
    position: absolute;
    bottom: 7.2rem;
    right: 5.5rem;

}

.banner-angle-size {
    width: 12px;
    height: 20px;
}

/*início game section*/

.game-section {
    margin: 0 5% 10%;
}

.game1, .game2 {
    position: relative;
    margin-bottom: 5%;
    width: auto;
}

.game-img {
    width: 100%;
}

.triangulo {
    position: absolute;
    right: 0;
    bottom: 0;
}

.game2 .triangulo {
    position: absolute;
    right: 0;
    bottom: 0;
}

.game1 .tag-shop-l {
    display: none;
}

.game2 .tag-shop-l {
    display: none;
}

.destaque {
    display: flex;
    margin-left: 1%;
}

.destaque .span {
    background: #3EC6E0;
    padding: 13px 13px;
}

.destaque p {
    font-size: 20px;
    color: #084154;
    display: flex;
    margin-left: 4%;
    margin-bottom: 50px;
}

/*fim game section*/


/* CAROUSEL DE BAIXO*/

.owl-container {
    max-width: 70%;
    margin: 0 auto;
}

.item {
    height: 28rem;
    display: flex;
    height: fit-content;
    margin-bottom: 120px;
    margin-right: 1%;
}

.owl-nav .angle-right {
    position: absolute;
    top: 9rem;
    right: -3rem;
}

.owl-nav .angle-left {
    position: absolute;
    top: 9rem;
    left: -3rem;
}

.angle-size {
    width: 20px;
    height: 36px;
}

.produto {
    color: #084154;
    font-size: 17px;
    margin-bottom: 8px;
}

.subzero {
    margin-top: 10px;
}

.preco {
    color: #084154;
    font-size: 27px;
    font-weight: bolder;
    margin-top: 0px;
}

.btn-carousel {
    color: white;
    background-color: #3EC6E0;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    padding: 12px 95px;
    border-radius: 5px;
}

/*fim carousel*/

/*footer inicio*/

footer {
    display: flex;
    width: 100%;
    height: 70px;
}

.logo-footer {
    width: 23%;
    text-align: right;
    background-color: #0F4156;
    padding: 14px;
    height: fit-content;
}

.logo2 img {
    width: 80%;
}

.copyright {
    width: 77%;
    background-color: #4EC2DD;
    padding: 20px;
    text-align: center;
}
.copyright p {
    color: white;
    font-size: 12px;
}



@media (min-width: 768px) {
    
    .img-logo {
        width:140%;
    }
    
    .icon {
        margin-right: 45px;
        width: 70%;
    }

    .sacola {
        position: relative;
    }

    .bag {
        width: 75%;
        margin-right: 40px;
    }

    #badge {
        position: absolute;
        right: -24px;
        top: 18px;
        padding: 6px 10px;
    }

    .banner-desk .banner-desk2 {
        display: none !important;
    }

    .overlay h1 {
        font-size: 50px;
    }
    
    .overlay .price {
        font-size: 60px;
    }
    
    .overlay .text {
        font-size: 18px;
        margin-left: 40%;
    }

    .produto-slide p {
        font-size: 20px;
    }

    .slide p {
        font-size: 24px;
        margin-left: 2.5em;
        margin-top: 20px;
    }

    .game1 .tag-shop {
        display: none;
    }
    
    .game2 .tag-shop {
        display: none;
    }

    .game1 .tag-shop-l {
        position: absolute;
        right: 5%;
        bottom: -31rem;
    }
    
    .game2 .tag-shop-l {
        position: absolute;
        right: 5%;
        bottom: -58.8rem;
    }

    .subzero {
        margin-top: 10px;
    }
    
}

@media (max-width: 800px){
  
    .menu {
      display: block;
      visibility: hidden;
      transition: all .4s;
      position: absolute;
      height: 260vh;
      width: 100vw;
      border: 0;
      margin-top: 0;
      box-shadow: none;
    }
  
    .menu a {
      text-align: left;
    }
  
    .menu ul li {
      width: 100%;
  
    }
    
    .menu ul {
      display: block;
    }
  
    .menu ul ul {
      position: static;
      display: block;
    }
  
    .menu-line{     
       width: 100%;
       margin: auto;
       margin-top: 5%;
       margin-bottom: 5%;
       border: 1px solid #003344;
       visibility: inherit;                   
  }
  
  .seta-cima:before {
    display: none;
    }
  
 
  }


  @media (min-width: 1024px) {

      .banner-mobile {
        display: none !important;
      }

      .banner-mobile2 {
        display: none !important;
      }

      .game-section {
          display: flex;
      }

      .overlay {
          background-color: transparent;
      }

      .item {
        display: block;
    }

    .btn-carousel {

        padding: 12px 50px;
        border-radius: 5px;
    }
  }    

  @media (min-width: 1600px) {

  .game-section {
    margin-top: 20%;
  }

}    
 